$primary: #0454b6;
$secondary: #959fa4;
$success: #00bf7b;
$info:  #08bcff;
$warning: #f6b54a;
$danger: #ef6030;
$link: #ffffff;
$light: #666;
$dark: #222222;


$main-color: lighten(#1d100e, 5%);
$font-color: #ffffff;

$body-color: #00f9cf;
$content-color: #00f9cf;

$link-color: darken($font-color, 30%);

$dominant-grey: #3b3b3b;

$border-color: #535353;

$border-width: 1px;

$card-border-color: $border-color;
$card-border-width: $border-width; 

$dropdown-border-width: $border-width;  
$dropdown-border-color: $border-color;
$dropdown-bg: $border-color;

$modal-header-border-color: $border-color;
$modal-footer-border-color: $border-color;

$close-color: $font-color;

$table-border-color: $border-color;
$table-dark-border-color: $table-border-color;
$table-dark-color: $font-color;



.bg-content {
    background: $content-color;
}